.idea?/*
.idea/r*
/out/production/advent-of-code/twenty/dayEight/game.md
/out/production/advent-of-code/twenty/dayFive/boardingPassed.md
/out/production/advent-of-code/twenty/dayFour/passports.m
/out/production/advent-of-code/twenty/dayFour/passports.md
/out/production/advent-of-code/twenty/dayOne/expense.txt
/out/production/advent-of-code/twenty/dayOne/MainKt.class
/out/production/advent-of-code/twenty/dayOne/MainKt$readFromFile$1.class
/out/production/advent-of-code/twenty/dayOne/mathematica.md
/out/production/advent-of-code/twenty/daySeven/bags.md
/out/production/advent-of-code/twenty/daySix/customs.md
/out/production/advent-of-code/twenty/dayThree/tobogan.md
/out/production/advent-of-code/twenty/dayTwo/passwords.md
/out/production/advent-of-code/twentyOne/dayFive/input.txt
/out/production/advent-of-code/twentyOne/dayOne/Day1Kt.class
/out/production/advent-of-code/twentyOne/dayOne/Day1Kt$partOne$depths$1.class
/out/production/advent-of-code/twentyOne/dayOne/Day1Kt$partTwo$depths$1.class
/out/production/advent-of-code/twentyOne/dayOne/Day1Kt$partTwo$windows$1.class
/out/production/advent-of-code/twentyOne/dayOne/input.txt
/out/production/advent-of-code/twentyOne/dayThree/input.txt
/out/production/advent-of-code/twentyOne/dayTwo/Day2Kt.class
/out/production/advent-of-code/twentyOne/dayTwo/input.txt
/out/production/advent-of-code/twentyOne/dayTwo/Position.class
/out/production/advent-of-code/twentyOne/dayTwo/PositionWithAim.class
/out/production/advent-of-code/twentyOne/UtilsKt.class
